/*  your css code here. If applicable */
.grid-container{
	display:grid;
	grid-template-columns:auto auto auto;
	gap:10px;
}
.grid-item{
		background-color:#f2f2f2;
	border:1px solid #ccc;
	padding:10px;
	gap:10px;
	text-align:center;
}